/*  Dropdown Button */
.group-dropbtn {
    color: white;
    background-color: rgb(86, 143, 179);
    margin-top: 20%;
    margin-left: 10%;
    padding: 0.8em;
    font-size: 0.7em;
    border: none;
    cursor: pointer;
    z-index: 10000;
    padding-top: 0.5em;
    white-space: nowrap;
}

/*  needed to position the dropdown content */
.group-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.group-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .65);
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.group-dropdown-content p {
    cursor: pointer;
    font-size: 0.8em;

    color: #9bf7c1;
    padding: 0.7em 1em;
    text-decoration: none;
    display: block;
}

/* color of dropdown links on hover */
.group-dropdown-content p:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* Show the dropdown menu on hover */
.group-dropdown:hover .group-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.group-dropdown:hover .group-dropbtn {
    background-color: #4e7a9c;
}